body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
#homeLogo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}
#homeLogo:hover {
    color: gray;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 1px 3px #333;
}
#logout-btn {
    padding: 8px 16px;
    background-color: #b33939;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
.note {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.note p {
    margin-left: 10px;
}
.note input[type="checkbox"] {
    transform: scale(1.5);
}
     